# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist/
build/
dist-ssr/
out/
.vite/

# Database / SQLite / Migrations cache
*.sqlite
*.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Editor and OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
